<button type="button" id="{{id}}-save" class="btn btn-primary btn-lg ladda-button" data-style="zoom-in"><span class="ladda-label"><i class="fa fa-save"></i> Save</span></button>
<button type="button" id="{{id}}-cancel" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>