<form 
    id="{{id}}-form" 
    role="form" 
    class="well well-sm"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
    data-bv-submitbuttons="#{{id}}-save"
    data-bv-live="enabled">
    
    {{{fields}}}
    
    {{{buttons}}}
   
</form>