.header .header-seperation {
  width: 134px;
  background-color: #F35958;
}
.header-quick-nav h3 {
  margin: 0;
  line-height: 60px;
  padding-left: 20px;
  text-align: left;
  color: #fff;
}
.header .nav > li.quicklinks > a {
  padding: 2px 9px !important;
  margin-left: 4px;
}
.header .nav > li.quicklinks > a i {
  color: #fff !important;
  margin-left: 3px;
}
.alert-info {
  color: #949494;
  background-color: #fff3e0;
}
.alert-error {
  background: #fbe9e7;
}
.tiles {
  background: #E8C388;
}
.inlinesparkline canvas {
  vertical-align: middle !important;
}
.logo {
  margin: 5px 14px !important;
}
.data-row {
  padding: 6px;
  border: 1px solid #C8DAC8;
  margin-bottom: 10px;
  background-color: #E8F1E8;
  position: relative;
}
.data-row .last-run {
  font-size: 10px;
}
.data-row.error {
  background: #F5DEDD;
  border: 1px solid #E2B9B7;
}
.data-row.error .btn-primary {
  background: #f35958;
}
.data-row.error .details {
  display: block;
}
.data-row .name {
  font-weight: bold;
}
.data-row footer {
  margin-top: 10px;
}
.data-row .details {
  position: absolute;
  top: 4px;
  right: 0;
  line-height: 12px;
}
.data-row .details .clearfix > div {
  float: right;
  width: 30px;
}
.grid.simple .grid-title {
  padding: 15px;
}
.btn-li {
  margin-left: 5px !important;
}
.btn-li button {
  padding: 9px 12px !important;
  margin-top: -5px;
}
.header .navbar-inner {
  background-color: #22262E!important;
}
.form-group > label {
  font-weight:bold
}
.terminal .modal-body {
  background-color: black;
}
code, pre {
  font-family: "Univers Typewriter", Monaco, Menlo, Consolas, "Courier New", monospace;
  word-break: break-word;
  white-space: pre-wrap;
}
.terminal .modal-body code {
  background-color: black;
}
.terminal .modal-body code>span {
  background-color: transparent !important;
}

/* .status-graph {margin-top: 2.5em;}*/
canvas {background-color: #fff;padding: 1em;}
.status-widget {float:right; margin-right: -2.2em;}

/* .status-widget{
  margin-top:3em;
} */

.status-graph-canvas {
  width: 100%;
}
.status-graph-canvas {
  margin-left: -1.2em;
}
#graph-select {
  width: 100px;
}
.status-widget h4 {
  color: #000;
}
.status-widget ul{
  list-style-type:none; margin-left: -3.5em;
}

.status-widget ul li.add-side-borders{
  border-left: 1px solid #fff; border-right: 1px solid #fff;
}
.status-widget .data-row{
  background-color:#f35958; padding: 35px;
}
.status-widget footer {
  color: #000;
}
.status-widget footer span{
  color:#fff
}
.status-widget footer div {
  margin-top: 2.5em;
}
.status-widget footer div progress[value]::-webkit-progress-value {
  background-color: #FFF;
}
@media (max-width: 1215px) {
  .status-widget {float:none;}
}
@media (min-width: 450px) {
  .status-widget ul li{
  float:left; padding-left: 1em; padding-right: 1em; color: #fff;
}
}
@media (max-width: 450px) {
  .status-graph,
.status-graph-canvas {
    width: 100%;
  }
  .status-graph-canvas {
    margin-left: -1.2em;
  }
  .status-widget {
    padding: 0;
  }
  .status-widget ul li {
    color: #fff;
    float:left;
    padding-right: 0.25em;
    padding-left: 0.25em;
  }
  .statuses {
    margin-bottom: 1em;
  }
}
div.progress{
  margin-bottom: 1.25em;
}
.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.navbar-brand {
  background-color: #F35958;
  border-color: #F35958;
  background-image: url(/app/images/sabre.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 134px;
  margin-right: 20px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: #F35958;
}
.navbar-fixed-top {
  border: 0;
}
.navbar h3 {
  color: white;
}
.nav.navbar-nav {
  padding: 8px 0px;
  margin-right: 0;
}
#navbar .input-group-addon {
  background-color: white !important;
}
.search-input {
  -webkit-appearance: none!important;
  color: #282323;
  outline: 0;
  background-color: #ffffff;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  border: 1px solid #e5e9ec;
  transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-left: 0;
}
.search-input:focus {
  border-color: #f1f1f1;
  background-color: #f4f5f7;
  outline: 0!important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}