<div class="page-header">
    <div class="pull-right">
        <button type="button" id="{{id}}-back" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
  <h1>View {{name}}</h1>
</div>