#controller-index{
    #action-index{
        .airlines{
            .airline{
                .panel-body{
                    height: 20em;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
            }
        }
    }
}