<div class="clearfix">
    <div class="pull-right">
        <button class="btn btn-success" id="{{id}}-new-airline"><i class="fa fa-plus"></i> New Airline</button>
    </div>
</div>
<div id="{{id}}-airlines" class="airlines">
</div>