
    <div class="col-sm-12 col-lg-12">
        <div class="col-lg-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <select id="graph-select" class="pull-right form-control">
                    <option value="days">Days</option>
                    <option value="weeks">Weeks</option>
                    <option value="months">Months</option>
                </select>
                <h4>ERRORS</h4> 
            </div>
            <div class="grid-body no-border">
                <div class="">
                    <div class="col-sm-12">
                        <canvas id="status-graph-canvas" height="150" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>