
    <div class="col-lg-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Errors</h4>
                <select id="graph-select">
                    <option value="days">Days</option>
                    <option value="weeks">Weeks</option>
                    <option value="months">Months</option>
                </select>
            </div>
            <div class="grid-body no-border">
                <canvas id="status-graph-canvas" height="150"></canvas>
            </div>
        </div>
    </div>
