<div class="form-group">
    <label class="col-sm-2 control-label" for="{{id}}-name">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control {{id}}-field" id="{{id}}-name" name="name" value="{{data.name}}"/>
    </div>
</div>