<div class="pull-right">
    <a href="#" class="btn btn-sm btn-danger" id="{{id}}-delete"><i class="fa fa-trash-o"></i> Delete</a>
</div>
<a href="#" class="btn btn-success" id="{{id}}-run"><i class="fa fa-play"></i> Run Now!</a>
<a href="#{{controller}}/edit/id/{{data.id}}"  class="btn btn-info"><i class="fa fa-pencil"></i> Edit</a>
