
    <div class="pull-right form-inline hidden" id="{{id}}-result-toolbar">
        <label>
        Different Only: 
        <input type="checkbox" 
            id="{{id}}-different-only" 
            data-on-color="info">
        </label>
        
        <button type="button" id="{{id}}-download-all" class="btn btn-info"><i class="fa fa-download"></i> Download All</button>
    </div>
    <h3>Results</h3>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Old</th>
            <th>New</th>
            <th>Diff</th>
        </tr>
    </thead>
    <tbody id="{{id}}-screenshots">
    </tbody>
    </table>


