<div class="pull-right">
    <a href="#" class="btn btn-sm btn-danger hidden" id="{{id}}-delete"><i class="fa fa-trash-o"></i> Delete</a>
</div>
<a href="#" class="btn btn-success hidden" id="{{id}}-rerun"><i class="fa fa-play"></i> Rerun</a>
<a href="#" class="btn btn-info" id="{{id}}-view-logs"><i class="fa fa-list"></i> View Logs</a>
