<div id="local" class="local navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse">-->
        <!--    <span class="sr-only">Toggle navigation</span>-->
        <!--    <span class="icon-bar"></span>-->
        <!--    <span class="icon-bar"></span>-->
        <!--    <span class="icon-bar"></span>-->
        <!--</button>-->

        <a href="#index/index" class="navbar-brand"><img src="//developer.sabre.com/public/Mashery/images/clients/sabre/Sabre-Logo-2013.png"></a>
        <h1 class="navbar-title"><a href="/">{{appFullName}}</a></h1>
    </div>
    
    <!--<div id="navCollapse" class="collapse navbar-collapse">-->
    <!--    <ul id="{{id}}-items" class="mainNav nav navbar-nav">-->
    <!--        <li data-controller="index" class="active"><a href="#"><i class="fa fa-play"></i> Queue</a></li>-->
    <!--        <li data-controller="job" ><a href="#job/index"><i class="fa fa-tasks"></i> Jobs</a></li>-->
    <!--        <li data-controller="box" class=""><a href="#box/index"><i class="fa fa-cubes"></i> Boxes</a></li>-->
    <!--        <li data-controller="script" class=""><a href="#script/index"><i class="fa fa-code"></i> Scripts</a></li>-->
    <!--        <li data-controller="device" class=""><a href="#device/index"><i class="fa fa-mobile-phone"></i> Devices</a></li>-->
    <!--    </ul>-->
    <!--</div>-->
</div>