<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th width="1%">
                <input type="checkbox" id="{{id}}-all-modules-checkbox" {{#if allModulesChecked}}checked{{/if}} />
                <i class="fa fa-spin fa-spinner hidden" id="{{id}}-all-modules-checkbox-spinner"></i>
            </th>
            <th width="79%">Name</th>
            <th width="20%">Abbreviation</th>
            <th width="1%">
                <button class="btn btn-sm btn-success btn-block" id="{{id}}-new"><i class="fa fa-plus"></i> New Module</button>
            </th>
        </tr>
    </thead>
    <tbody id="{{id}}-modules">
    </tbody>
</table>
