<h5><div class="pull-right"><button class="btn btn-sm btn-success" id="{{id}}-new"><i class="fa fa-plus"></i> New Module</button></div>Modules</h5>

<table class="table table-condensed">

    <thead>
        <tr>
            <th width="1%">
                <input type="checkbox" />
            </th>
            <th width="35%">Name</th>
            <th>URL</th>
            <th width="1%">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {{#each modules}}
        <tr>
            <td>
                <input type="checkbox"/>
            </td>
            <td>
                <input type="text" value="{{this.name}}" class="form-control input-sm" />
            </td>
            <td>
                <input type="text" value="{{this.url}}"  class="form-control input-sm"/>
            </td>
            <td class="text-nowrap">
                <button class="btn btn-xs btn-default"><i class="fa fa-paperclip"></i></button>
                <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
